@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 200px;
    background-color: rgb(0, 0, 0);
    transition: 0.4s ease;
    width: 100%;
    position: fixed;
    z-index: 900;
    
}

.logo{
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 500;
    color: white;
}

.logo span{
    color:rgb(255, 255, 111) ;
}

.header a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 20px;
    color: white;

}

.header a:hover{
    cursor: pointer;
    color: rgb(255, 255, 111);
}

section{
    padding: 100px 200px;
}
.description{
    background-image: url(img/fond-texture-planche-bois-noir_53876-138962.jpg);
    padding: 200px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}

.description img{
    border-radius: 50%;
    width: 60%;
    height: 60%;
}

.description .logo h2{
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
}

.description .logo p{
    
    font-size: 1.1em;
    font-weight: 400;
}

.description .logo .merci{
    color: rgb(255, 255, 111);
    font-size: 1.4em;
    font-weight: 700;
}   

.title{
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;

}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.card{
    background-color: white;
    width:18em ;
    box-shadow: 0 5px 25px rgba(1 1 1 / 25%);
    border-radius: 10px;
    padding:25px ;
    margin: 15px;
    transition: 0.7s ease ;
}

.card:hover{
    transform: scale(1.1);
}

.icon1 a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    color: rgb(255, 46, 46);
    font-size: 8em;
    text-align: center
}

.icon2 a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    color: rgb(73, 73, 255);
    font-size: 8em;
    text-align: center
}
.icon3 a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    color: rgb(23, 248, 15);
    font-size: 8em;
    text-align: center
}
.info {
    text-align: center;
}

.info h3{
    color: black;
    font-size: 1.3em;
    font-weight: 700;
    margin: 10px;

}

.info p{
    color: black;
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 30px;
}

.project .content{
    margin-top: 30px;
}

.project-card{
    background-color: black;
    border: 1px solid black;
    min-height: 14em;
    width: 20em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    
}

.project-card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.project-image img {
    width: 100%;
}

.project-info{
    padding: 1em ;
    letter-spacing: 1px;
    color: white;
}
.project-info h3 span{
    color: rgb(255, 255, 111);

}

.project-category{
    font-size:0.9em ;
    color: white;

}

.project-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.project-info strong{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    color: rgb(255, 255, 111);
}
